#
# SPDX-FileCopyrightText: Copyright 2025 Arm Limited and/or its affiliates <open-source-office@arm.com>
# SPDX-License-Identifier: Apache-2.0
#
Checks: >
    -*,
    modernize-use-nullptr,
    modernize-deprecated-headers,
    modernize-use-override,
    modernize-use-using,
    modernize-make-unique
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: file
